@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #1da1f2;
  --color-secondary: #1780c9;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 16px;
}

/* Tùy chỉnh grid cho Ant Design Calendar */
.custom-calendar-grid .ant-picker-panel {
  border-radius: 8px;
}

/* Ẩn viền mặc định của header */
.custom-calendar-grid .ant-picker-body {
  border-top: none;
}

/* Tạo đường viền cho các ô header (Thứ) */
.custom-calendar-grid .ant-picker-content th {
  text-align: center;
  font-weight: 600;
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
}

/* Tạo đường viền cho các ô ngày */
.custom-calendar-grid .ant-picker-cell {
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

/* Xóa border thừa bên phải của cột cuối cùng (Thứ Bảy) */
.custom-calendar-grid .ant-picker-cell:nth-child(7n) {
  border-right: none;
}

/* Xóa border thừa bên trái của cột đầu tiên (Chủ Nhật) */
.custom-calendar-grid .ant-picker-cell:nth-child(7n + 1) {
}

@media print {
  .ant-modal-footer,
  .no-print {
    display: none !important;
  }

  .ant-modal-content {
    box-shadow: none !important;
  }
}

/* style cho scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.12);
}
